<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <title>Budgetiny</title>
      <link rel="icon" href="/images/favicon.png" />
    </head>


    <body>
    <header>
     
          <div id="display-types">
      
 
    
     <table cellspacing="10" cellpadding="5">
       

     <tr>
       <td><a href="/"><img src="/images/logo.png" alt="budgetiny" style="width:200px;height:60px;border:0;"></a></td>
       <td><a href="/transactions" style="text-decoration: none">View Transactions</a></td>
       <td><a href="/transactions/new" style="text-decoration: none">Add New Transaction</a></td>
       <td><a href="/transactions/total" style="text-decoration: none">Your Totals</a></td>
       <td><a href="/about_us" style="text-decoration: none">About Us</a></td>
       <td><a href="/thoughts" style="text-decoration: none">Thought for the Day!</a></td>

     </tr>
     </table>

     </div>


      </header>
<br>
      <%= yield %>
<br><br>

<div class="footer">Copyright © 2017 Cohort 13. All Rights Reserved.</div>


    </body>



  </html>  