body {
  background: #ffffff;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

table, th, td {
    border: 1px #1d7db3;
}

th {
    text-align: right;
}

li {
    display: inline;
    
}

*{
     margin:0px auto;
}

body{
     text-align:center;
}
